{% extends "layout.html" %}

{% block title %}Search{% endblock %}

{% block content %}
    <h2>Search for Users by Feature</h2>
    <form method="POST">
        <label for="criteria">Select Filtering Criteria:</label>
        <select name="criteria" id="criteria" onchange="filterCheck(this)">
            <option value="">--Choose--</option>
            <option value="critics">Users who only leave negative reviewers</option>
            <option value="good-posters">Users who only receive positive reviews</option>
            <option value="most-date">Users who posted most units on a given date</option>
        </select>
        <div id="ifDate" style="display: none">
            <label for="date">Date</label>
            <input type="date" id="date" name="date">
        </div>
        <button type="submit">Search</button>
    </form>

    <h2>User Results</h2>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Number of Posted Units</th>
                <th>Number of Posted Reviews</th>
            </tr>
        </thead>
        <tbody>
            {% for User in users %}
            <tr>
                <td>{{ User.username }}</td>
                <td>{{ rental.filter_by(user=User.username).count() }}</td>
                <td>{{ review.filter_by(user=User.username).count() }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        function filterCheck(that) {
            if (that.value == "most-date") {
                document.getElementById("ifDate").style.display = "block";
            } else {
                document.getElementById("ifDate").style.display = "none";
            }
        }
    </script>

{% endblock %}
