{% extends "layout.html" %}

{% block title %}Search{% endblock %}

{% block content %}
    <h2>Search for Users by Feature</h2>
    <form method="POST">
        <input type="checkbox" id="critics" name="critics">
        <label for="critics">Only show users who only leave negative reviews</label>
        <button type="submit">Search</button>
    </form>

    <h2>User Results</h2>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Number of Posted Units</th>
                <th>Number of Posted Reviews</th>
            </tr>
        </thead>
        <tbody>
            {% for User in users %}
            <tr>
                <td>{{ User.username }}</td>
                <td>{{ rental.filter_by(user=User.username).count() }}</td>
                <td>{{ review.filter_by(user=User.username).count() }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
